<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></href></li>
        <li><a href="/ofertas">Ofertas</a></href></li>
        <li><a href="/nosotros">Nosotros</a></href></li>
        <li><a href="/contacto">Contacto</a></href></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
