<!DOCTYPE html>
<html>
  <head>
    <title>Nosotros</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <H1>Acerca de nosotros</H1>
    <h2>Nuestra historia</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ab consequuntur suscipit esse tempora nam eum quia natus dolorum et sint, eius harum debitis pariatur illum molestiae culpa unde rerum.</p>
    <h2>Quienes somos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ab consequuntur suscipit esse tempora nam eum quia natus dolorum et sint, eius harum debitis pariatur illum molestiae culpa unde rerum.</p>
    <h2>Donde estamos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ab consequuntur suscipit esse tempora nam eum quia natus dolorum et sint, eius harum debitis pariatur illum molestiae culpa unde rerum.</p>
  </body>
</html>
