<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h1>Ofertas</h1>
      <table>
        <tr> 
          <td>Tipo de prenda</td>
          <td>Marca</td>
          <td>Talle</td>
          <td>Precio</td>
        </tr>
        <tr>
          <td>Remera</td>
          <td>Zara</td>
          <td>M</td>
          <td>1500</td>
        </tr>
        <tr>
          <td>Pantalon</td>
          <td>Kevingston</td>
          <td>L</td>
          <td>3000</td>
        </tr>
      </table>
    </div>
    {{{body}}}
  </body>
</html>
